<div class="container mt-5">
  <div class="card">
    <div class="card-body">
      <h3 class="card-title mb-4">Sign Up</h3>
      {{#if errorMessage}}
        <div class="alert alert-danger" role="alert">
          {{errorMessage}}
        </div>
      {{/if}}
      <form class="signup-form">
        <div class="form-group">
          <label for="username">Username:</label>
          <input
            type="text"
            class="form-control"
            id="username-signup"
            name="username"
            required
          />
        </div>
        <div class="form-group">
          <label for="password">Password:</label>
          <input
            type="password"
            class="form-control"
            id="password-signup"
            name="password"
            required
          />
        </div>
        <button type="submit" class="btn btn-primary">Sign Up</button>
        <a href="/user/login" class="ml-2">Have an account already? Login here!</a>
      </form>
    </div>
  </div>
</div>

<script src="/js/signup.js"></script>